@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/animate';
@import 'sass_base/icon_arrow';

//基本設定
ul,li,dd,dt,dh {
    list-style: none;
}
svg {
    display: block;
}

.pc-only {
    @include pc_only();
}
.sp-only {
    @include sp_only();
}
.wapper {
    @include wapper_setting();    
}
.inner-wapper {
    @include wapper_setting2();
}
.t-center {
    text-align: center;
}
@for $i from 0 through 15 {
    $list : $i * 10;
    $list_sp : ($i * 10) / 2;
    .margin-#{$list} {
        @include marginPercent(1920 , $list , auto , 0 , auto );
    }
    .margin-1000-#{$list} {
        @include marginPercent(1000 , $list , auto , 0 , auto );
        @include media($sp) {
            @include marginPercent(320 , $list_sp , auto , 0 , auto );
        }
    }
    @for $x from 0 through 30 {
	$listx : $x * 10;
	.padding-top-#{$i * 10}-bottom_#{$x * 10} {
		@include paddingPercent(1920 , $list , 0 , $listx , 0);
	}
    }
}
@for $i from 0 through 5 {
    .pc-order-#{$i} {
        order: $i;
        @include media($sp) {
            order: unset;
        }
    }
}
.margin-125 {
    @include marginPercent(1920 , 125 , auto , 0 , auto );
}
.padding-top-60-bottom-55 {
    @include paddingPercent(1920 , 60 , auto , 55 , auto );
}
.padding-top-25-bottom-10 {
    @include paddingPercent(1920 , 25 , auto , 10 , auto );
}
.padding-top-60-bottom-60 {
    @include paddingPercent(1920 , 60 , auto , 60 , auto );
}
.kinout-text {
  text-align: justify;
  text-justify: inter-ideograph;    
}
.privacypolicy-main .main-en-title, .main-en-title {
    @include rs_font_size(34px,2.6153846153846154vw,6.936vw);
    //フォント（px）【PC】:34pxpx |【Tab】34px |【sp】 26.01px 
    //設定サイズ（px）【PC】:1300px |【Tab】1300px |【sp】 375px
    font-weight: 600;
    color: #54565A;
}
.main-h1-border {
    line-height: 100%;
    display: block;
    @include marginPercent(1920 , -5 , auto , 10 , auto );
    width: 36.547px;
    line-height: 100%;
    @include media($sp){
        @include marginPercent(375 , -4 , auto , 6 , auto );
    }
    img {
        display: block;
        margin: 0 auto;
    }
}
.main-h1-border-red {
    line-height: 100%;
    display: block;
    @include marginPercent(1920 , -5 , auto , 10 , auto );
    width: 36.547px;
    line-height: 100%;
    @include media($sp){
        @include marginPercent(1920 , -5 , auto , 15 , auto );
    }
    img {
        display: block;
        margin: 0 auto;
    } 
}
.main-jp-title {
    @include rs_font_size(20px,1.5384615384615385vw,4.08vw);
    //フォント（px）【PC】:20pxpx |【Tab】20px |【sp】 15.3px 
    //設定サイズ（px）【PC】:1300px |【Tab】1300px |【sp】 375px
    color: #54565A;
    font-weight: 400;
    line-height: 100%;
}
    
//トップページ部分
@import 'main_include/index/_index';
//フッター部分
@import 'main_include/footer/_footer';

//アニメーション
@for $i from 0 through 10 {
    $list : $i;
    .pc_order_#{$list} {
        order: $list;
        @include media($sp) {
            order: unset;
        }
    }
}
@keyframes fadein_sc_top {
    0% {
        opacity: 0;
        transform: translate3d(0px,20px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px,0px, 0px);
    }
}
@keyframes fadein_sc_left {
    0% {
        opacity: 0;
        transform: translate3d(-20px,0px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px,0px, 0px);
    }
}
@keyframes fadein_sc_right {
    0% {
        opacity: 0;
        transform: translate3d(20px,0px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px,0px, 0px);
    }
}
@keyframes fadein_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.opacity_0_fade_set {
    transform: translate3d(0px,20px, 0px);
    opacity: 0;
    position: relative;
    &.active {
        -webkit-animation: fadein_sc_top 0.75s ease 0.35s forwards alternate;
        animation: fadein_sc_top 0.75s ease 0.35s forwards alternate;
    }
}
.opacity_0_fadeleft_in {
    opacity: 0;
    transform: translate3d(-20px,0px, 0px);
    &.active {
        -webkit-animation: fadein_sc_left 0.75s ease 0.35s forwards alternate;
        animation: fadein_sc_left 0.75s ease 0.35s forwards alternate;
    }
}
.opacity_0_faderight_in {
    opacity: 0;
    transform: translate3d(20px,0px, 0px);
    &.active {
        -webkit-animation: fadein_sc_right 0.75s ease 0.35s forwards alternate;
        animation: fadein_sc_right 0.75s ease 0.35s forwards alternate;
    }
}
.opacity_0_fade_in {
    opacity: 0;
    &.active {
        -webkit-animation: fadein_in 0.75s ease 0.35s forwards alternate;
        animation: fadein_in 0.75s ease 0.35s forwards alternate;
    }
}
.opacity_0_list_fade_set {
    & > li,section,div,tr,figure,.list-a {
        transform: translate3d(0px,20px, 0px);
        opacity: 0;
        position: relative;
    }
    &.active {
        & > li,section,div,p,h2,h3,h4,h5,figure,.list-a {
            @for $var from 1 through 12 {
                $delay : 0.35*$var;
                &:nth-child(#{$var}) {
                    -webkit-animation: fadein_sc_top 0.75s ease #{$delay}s forwards alternate;
                    animation: fadein_sc_top 0.75s ease #{$delay}s forwards alternate;
                }
            }
        }
    }
}

.opacity_0_list_left_fade_set {
    & > li,section,div,tr,figure {
        transform: translate3d(-10px,0px, 0px);
        opacity: 0;
    }
    &.active {
        & >  li,section,div,p,h2,h3,h4,h5,figure {
            @for $var from 1 through 12 {
                $delay : 0.35*$var;
                &:nth-child(#{$var}) {
                    -webkit-animation: fadein_sc_left 0.75s ease #{$delay}s forwards alternate;
                    animation: fadein_sc_left 0.75s ease #{$delay}s forwards alternate;
                }
            }
        }
    }
}

.opacity_0_list_right_fade_set {
    & > li,section,div,tr,figure {
        transform: translate3d(-10px,0px, 0px);
        opacity: 0;
    }
    &.active {
        & >  li,section,div,p,h2,h3,h4,h5,figure {
            @for $var from 1 through 12 {
                $delay : 0.35*$var;
                &:nth-child(#{$var}) {
                    -webkit-animation: fadein_sc_right 0.75s ease #{$delay}s forwards alternate;
                    animation: fadein_sc_right 0.75s ease #{$delay}s forwards alternate;
                }
            }
        }
    }
}
.bounsebox {
    &.active {
        @include animation_bounce();
    }
}